In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data.csv')

In [3]:
df.head()

   fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0    100         0   34          1           1              1
1    101         1   14          1           1              1
2    100         0   56          0           0              0
3    127         1   67          1           1              1
4    125         1   23          1           1              1

In [4]:
df.tail()

   fever  bodyPain  age  runnyNose  diffBreath  infectionProb
3    127         1   67          1           1              1
4    125         1   23          1           1              1
5    123         0   67          0           1              0
6     99         0   56          0           0              0
7    123         0   89          1          -1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          8 non-null      int64
 1   bodyPain       8 non-null      int64
 2   age            8 non-null      int64
 3   runnyNose      8 non-null      int64
 4   diffBreath     8 non-null      int64
 5   infectionProb  8 non-null      int64
dtypes: int64(6)
memory usage: 512.0 bytes

In [6]:
df['fever'].value_counts()

100    2
123    2
101    1
127    1
125    1
99     1
Name: fever, dtype: int64

In [7]:
df.describe()

            fever  bodyPain        age  runnyNose  diffBreath  infectionProb
count    8.000000  8.000000   8.000000   8.000000    8.000000       8.000000
mean   112.250000  0.375000  50.750000   0.625000    0.500000       0.500000
std     13.166516  0.517549  25.206292   0.517549    0.755929       0.534522
min     99.000000  0.000000  14.000000   0.000000   -1.000000       0.000000
25%    100.000000  0.000000  31.250000   0.000000    0.000000       0.000000
50%    112.000000  0.000000  56.000000   1.000000    1.000000       0.500000
75%    123.500000  1.000000  67.000000   1.000000    1.000000       1.000000
max    127.000000  1.000000  89.000000   1.000000    1.000000       1.000000

# Train Test Splitting

In [11]:
import numpy as np

In [12]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)* ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [13]:
np.random.permutation(8)

array([3, 6, 2, 0, 4, 5, 1, 7])

In [14]:
train, test = data_split(df, 0.2)

NameError: name 'df' is not defined

In [17]:
train

NameError: name 'train' is not defined

In [18]:
test

NameError: name 'test' is not defined